<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Friend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="ion-padding">

    <ion-card class="ion-margin-bottom">
      <div style="margin-top: 16px">
        <ion-item style="margin-top: -16px">
          <ion-label position="floating">Add friend by email</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
          <ion-button color="success" class="ion-margin-top" slot="end" (click)="addFriend()">
            <ion-icon name="person-add-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-card>

    <ion-card class="ion-margin-bottom">
      <ion-list>
        <ion-label position="floating" class="ion-padding">Friend List</ion-label>
        <ng-container *ngFor="let userFriend of userFriends;">
          <ion-item *ngIf="userFriend['name'].toLowerCase().includes(search)">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>{{userFriend['name']}}</ion-label>
            <ion-button color="danger" slot="end" (click)="removeFriend(userFriend['email'])">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card>

    <ion-card class="ion-margin-bottom">
      <ion-list class="ion-padding-top">
        <ion-label position="floating" class="ion-padding">All User List</ion-label>
        <ng-container *ngFor="let AllUsers of users">
            <ion-item>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-label>{{AllUsers['email']}}</ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card>

  </div>
</ion-content>