<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">  
  <div class="center-container" style="padding-top: 50%;">  
    <ion-card class="ion-text-center ion-margin-bottom">
      <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">     
        <ion-item>        
          <ion-label position="floating" color="medium">Email</ion-label>        
          <ion-input type="text" formControlName="email"></ion-input>      
        </ion-item>      

        <ion-item>        
          <ion-label position="floating" color="medium">Password</ion-label>        
          <ion-input type="password" formControlName="password" class="form-control" required></ion-input>      
        </ion-item>    
        
        <ion-button class="ion-margin-top ion-padding" type="submit" expand="block" [disabled]="!loginForm.valid">Login</ion-button>    
      </form>   
      
      <p class="ion-margin-top ion-padding">Don't have an account ? <a (click)="goToRegisterPage()">Register</a></p>  
    </ion-card>
  </div>
</ion-content>
